<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOCCERERS</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/pngegg (1).png') }}">
    <!-- css link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div id="container">
    <!-- logo -->
    <div id="logo">SOCCERERS</div>

    <!-- navbar -->
    <div id="navbar">
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/livematch">Live Match</a></li>
            <li><a href="/standings">Standings</a></li>
            <li><a href="/fixtures">Fixtures</a></li>
            <li><a href="/highlights">Highlights</a></li>
            <!-- login Button -->
            <li id="login"><a href="https://www.bet365.com/#/HO/">BET</a></li>
        </ul>
    </div>

    <!-- image -->
    <div id="image">
        <img src="{{ url_for('static', filename='assets/Football_Player.png') }}" alt="football player png">
    </div>

    <!-- content -->
    <div id="content">
        <h2>SOCCER</h2>
        <h5>LIFESTYLE</h5>
    </div>

    <!-- icons -->
    <div id="icons">
        <!-- visit => "fontawesome.com" for icons -->
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@fifa"><i class="fab fa-youtube"></i></a>
        <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><i
                class="fab fa-twitter"></i></a>
    </div>

    <!-- pagination -->
    <div id="pagination">
        <!-- left arrow -->
        <a href="#"><i class="fas fa-angle-left"></i></a>
        <!-- right arrow -->
        <a href="#"><i class="fas fa-angle-right"></i></a>
    </div>

    <!-- lines -->
    <div id="line1"></div>
    <div id="line2"></div>
</div>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-7a27b003-863f-4e19-b9ed-5bd6738cd4da"></div>
</body>
</html>